version: "3"

services:
  email:
    build:
      context: ../
      dockerfile: infrastructure/email_microservice/Dockerfile
    container_name: email_microservice
    working_dir: /var/www/html/email_microservice
    networks:
      - email_network

  nginx:
    build:
      context: ../
      dockerfile: infrastructure/nginx/Dockerfile
    container_name: email_nginx
    working_dir: /var/www/html/email_microservice
    networks:
      - email_network
    ports:
      - "8080:80"

networks:
  email_network:
    driver: bridge
