version: "3"

services:
  email:
    build:
      context: ../
      dockerfile: infrastructure/email_microservice/Dockerfile.dev
    volumes:
      - "../report:/var/www/html/email_microservice/report"
      - "../storage/logs:/var/www/html/email_microservice/storage/logs"
    environment:
      WAIT_HOSTS: rabbitmq.dev:5672
    restart: always

  email_consumer:
    build:
      context: ../
      dockerfile: infrastructure/email_microservice_consumer/Dockerfile.dev
    volumes:
      - "../report:/var/www/html/email_microservice/report"
      - "../storage/logs:/var/www/html/email_microservice/storage/logs"
    environment:
      WAIT_HOSTS: rabbitmq.dev:5672
    restart: always

  nginx:
    build:
      context: ../
      dockerfile: infrastructure/nginx/Dockerfile
    container_name: email_nginx
    restart: always
    ports:
      - "8080:80"

  rabbitmq:
    image: rabbitmq:3.8-rc-management-alpine
    container_name: email_rabbitmq
    volumes:
      - rabbitmq:/var/lib/rabbitmq
    networks:
      default:
        aliases:
          - rabbitmq.dev
    restart: always
    ports:
      - "15672:15672"
      - "5672:5672"

volumes:
  rabbitmq:
    driver: local
