version: "3"

services:
  email:
    build:
      context: ../
      dockerfile: infrastructure/email_microservice/Dockerfile.dev
    container_name: email_microservice
    volumes:
      - "../report:/var/www/html/email_microservice/report"

  nginx:
    build:
      context: ../
      dockerfile: infrastructure/nginx/Dockerfile
    container_name: email_nginx
    ports:
      - "8080:80"

  rabbitmq:
    image: rabbitmq:3.8-rc-management-alpine
    container_name: email_rabbitmq
    networks:
      default:
        aliases:
          - rabbitmq.dev
    ports:
      - "15672:15672"
      - "5672:5672"
